@import "../../style/colors";
@import "../../style/tokens";

.card {
  color: $black;
  padding: $space-normal 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $mobile) {
    align-items: baseline;
  }

  &__image {
    width: 300px;
    height: 300px;

    @media (min-width: $mobile) {
      width: 250px;
      height: 250px;
    }
  }

  &__description {
    max-width: 300px;
    padding: $space-normal 0;

    @media (min-width: $mobile) {
      max-width: 250px;
    }
  }

  &__name {
    font-size: $font-size-normal;
    font-weight: bold;
    padding: $space-small 0;
  }

  &__bio {
    font-size: $font-size-small;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-align: justify;
  }
}
