@import "../../style/colors";
@import "../../style/tokens";

.header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: $space-small;
  position: sticky;
  top: 0;

  &__logo {
    height: $space-small * 9;
    cursor: pointer;
  }

  &__donation-section {
    display: flex;
    align-items: center;
  }

  &__donation-text {
    max-width: $space-small * 7;
    text-align: center;
    margin-right: $space-small;
  }

  &__qrcode {
    width: $space-small * 9;
    height: $space-small * 9;
  }
}
