$space-small: 8px;
$space-normal: 16px;
$space-large: 32px;

$font-size-small: 16px;
$font-size-normal: 18px;
$font-size-large: 32px;

$mobile: 410px;
$mobile-l: 560px;
$tablet: 768px;
$desktop-s: 960px;
$desktop: 1024px;
