@import "./colors";

* {
  outline: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: $ice;
}

ul {
  list-style: none;
}
