@import "../../style/colors";
@import "../../style/tokens";

.streamer-page {
  &__title {
    color: $black;
    font-size: $font-size-small * 3;
    padding: $space-normal 0;
  }

  &__content {
    display: grid;
    text-decoration: none;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: $mobile-l) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__clips-frame {
    cursor: pointer;
  }

  &__clips-description {
    display: flex;
    max-width: 320px;
    flex-direction: column;
    padding: $space-small 0;

    @media (min-width: $tablet) {
      max-width: 400px;
    }

    @media (min-width: $desktop-s) {
      max-width: 480px;
    }
  }

  &__clips-thumbnail {
    width: 320px;

    @media (min-width: $tablet) {
      width: 400px;
    }

    @media (min-width: $desktop-s) {
      width: 480px;
    }
  }

  &__clips-title {
    font-size: $font-size-normal;
    font-weight: bold;
  }

  &__clips-info {
    display: flex;
    padding: $space-small 0;
  }

  &__clips-views {
    margin-right: $space-normal;
  }

  &__clips-date {
    margin-left: $space-normal;
  }

  &__icon {
    margin-right: $space-small;
  }
}
